:root { 
    --text-color: #000000; 
    --background-color: #FFFFFF; 
    --link-color: #4a76ee; 
    --nav-bg: #d4f1f1; 
    --transition: 0.3s
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html { 
    scroll-behavior: smooth; /* smooth the scrolling when you click from one button to another and scroll down a page and stuff*/
}

body { 
    font-family: "Playwrite Ireland", "Rubik", "Comic Neue", "sans-serif";
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5; 
}
/* 
.first-look { 
    text-
} */

button {
    font-family: inherit;
}

img { 
    display: block; 
    max-width: 100%; 
}

/* now onto the NAVIGATION BAR !!! */
.navigation-bar { /* some typical all things navbar */
    position: sticky; /* makes the nav bar stick on top */
    top: 5; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 48px;
    background: var(--nav-bg);
    /* border-box: 1px solid #000000; */
}

.navigation-bar .navigation { 
    font-size: 1.3rem;
    text-decoration: none; 
    font-weight: 400; 
    color: var(--text-color)
}

.navigation-bar .navigation:hover { 
    color: var(--link-color);
}

.navigation { 
    transition: var(--transition);
}

.navigation-bar .navigation-links { 
    font-size: 0.9rem; 
    gap: 36px;
    display: flex; 
    align-items: center;
    transition: 0.5s;
}

.navigation-bar .navigation-links a { 
    font-weight: 500; 
    text-decoration: none; 
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: var(--text-color);
}

.navigation-bar .navigation-links a:hover { 
    color: var(--link-color);
}

.navigation-links { 
    display: flex; 
    gap: 36px; 
    align-items: center;
}

.navigation-links a{ 
    transition: var(--transition);
}


/* 
SECTION: THE TOPMOST PART ISH RIGHT BELOW BANNER
*/

.home-section { 
    display: flex; 
    flex-direction: column; 
    align-items: center; /* aligns the "Hineni" right at the center below the banner */
    padding: 60px 40px 60px;
    gap: 0;
}

.home-section .home-image { 
    width: 100%; 
    overflow: hidden;    
}

.home-section .home-text { 
    text-align: center; 
    margin-top: 10px; 
}




.first-look { 
    display: flex; /* flexbox display */
    justify-self: space; 
    justify-content: center; 
    text-align: center; /* have the text align in the center based on the height of its parent element */
    padding: 0 50px; /* no padding on the y-axis, 50 px padding on the x-axis to match our nav bar */
    margin: 50px 0; /* add spacing between the nav bar and the next section: 50 px on the y-axis, 0 on the x-axis */
    margin-bottom: 100px; /* gap between hero and next section */
    gap: 40px; /* a gap of about 40 px between the text and the image */
}

.first-look .first-text h2 { 
    text-align: center;
    font-size: 45px; 
}

.first-look .first-text { 
    margin-bottom: 16px; 
}

.first-look .ysws-logo { 
    flex-shrink: 0; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
}

.ysws-logo img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


/*
THE TRACKS SECTION -- CIRCLES YAY
*/
.circles { 
    padding: 80px 48px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 48px; 
    background-color: var(--background-color);
}

.tracks-heading { 
    font-size: 1.8rem; 
    font-weight: 500; 
    text-align: center;
}

.container { 
    display: flex; 
    gap: 80px; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.track-1 { 
    text-decoration: none; 
    color: inherit;
}

.track-1-card { 
    display: flex; 
    flex-direction: column; /* puts "track 1" on the bottom of the image instead of on the side */
    align-items: center; 
    gap: 18px; 
    cursor: pointer;
}

.track-1-image { 
    width: 220px; 
    height: 220px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.track-1-label { 
    text-decoration: none; 
    text-transform: uppercase;
    text-align: center; 
    font-weight: 500; 
}

/* TRACK 2 LABEL */
.track-2 { 
    text-decoration: none; 
    color: inherit;
}

.track-2-card { 
    display: flex; 
    flex-direction: column; /* puts "track 1" on the bottom of the image instead of on the side */
    align-items: center; 
    gap: 18px; 
    cursor: pointer;
}

.track-2-image { 
    width: 220px; 
    height: 220px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.track-2-label { 
    text-decoration: none; 
    text-transform: uppercase;
    text-align: center; 
    font-weight: 500; 
}



/*
SECTION: ACCESSIBILITY (the dyslexia font) 
*/
.accessibility-section { 
    padding: 25px 20px 25px; 
    flex-direction: column; 
    align-items: center; 
    gap: 32px;
}

.font-buttons { 
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center;
}

.dyslexic-button { 
    display: flex; 
    align-items: center; 
    gap: 12px;
    padding: 14px 28px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.default-button { 
    display: flex; 
    align-items: center; 
    gap: 12px;
    padding: 14px 28px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}