/*
SECTION: HERO PART
*/
.t1-hero { 
    padding: 50px 40px 20px;
    text-align: center;
}

.t1-hero-title { 
    margin-bottom: 18px;
}

.t1-hero-sub { 
    max-width: 560px; 
    margin: 0 auto; 
    line-height: 1.5;
}

.t1-split { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 56px; 
    padding: 60px 60px; 
    align-items: start; 
}

.t1-split-text h2 { 
    margin-bottom: 20px; 
    font-weight: 400; 
}

.t1-split-text p { 
    margin-bottom: 16px; 
    font-size: 1rem; 
}

.t1-split-grid { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 14px;
}

.t1-grid-img { 
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s ease;
}

.t1-grid-img:hover { 
    transform: scale(1.05); /* when you hover over the image, it expands a bit by 5% */
}

.t1-grid-img img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
}

/* 
i want everything to be able to adjust and collapse on phone or stuff 
*/

@media (max-width: 768px) { 
    .t1-split { 
        grid-template-columns: 1fr; 
        padding: 48px 24px;
        gap: 32px; 
    }
}

.t1-boxes { 
    padding: 70px 60px;
}

.t1-boxes-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
    gap: 24px; 
    margin: 0 auto;
}

.t1-box { 
    background: #e3edff;
    border-radius: 10px; 
    border-top: 4px solid #4a76ee; 
    transition: transform 0.3s ease;
    padding: 10px 28px;
}

.t1-box:hover { 
    transform: scale(1.05); /* when you hover over the image, it expands a bit by 5% */
}

.t1-box h3 { 
    color: #000000;
}

@media (max-width: 600px) { 
    .t1-boxes-section { 
        padding: 48px 20px;
    }
}

/* 
SECTION: FAQ BOXES
*/
.t1-faq { 
    padding: 30px 30px;
    background: #eef4fb;
}

.t1-faq-title { 
    margin-bottom: 30px;
}

.t1-faq-grid { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    margin: 0 auto; 
}

.faq-item { 
    background: #ffffff;
    border-radius: 12px; 
    padding: 15px;
    overflow: hidden; 
}

/*
FOOTER SECTION!!! 
*/

.footer { 
    padding: 30px 30px;
    text-align: center;
}